
<div class="validateform">
    <form (ngSubmit)="onSubmit()"  class="row g-3" #loginForm="ngForm">
      <fa-icon [icon]="faLock"></fa-icon>
      <h3>Forgot Password</h3>
      <div class="col-md-4 form-group">
          <label for="validationCustomUsername" class="form-label">Username</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="email" aria-describedby="inputGroupPrepend" [(ngModel)]="userEmail.inputedEmail" placeholder="Enter your email adress" name="email" required>
           
          </div>
         
      </div>
      
      
      <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)" class="error-message">
        Form is invalid
      </div>
      <p>Back to login page <a routerLink="/login">Back to log In</a></p>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Reset password link</button>
        </div>
    </form>
  </div>
  
